/backend/.env
/backend/node_modules
/backend/dist
/backend/build
/backend/logs
/backend/logs/*.log
/backend/logs/*.log.*
/backend/logs/*.log.*.*
/backend/logs/*.log.*.*.*
/backend/logs/*.log.*.*.*.*
/backend/logs/*.log.*.*.*.*.*
/backend/uploads
/backend/*.md

/frontend/.env
/frontend/node_modules
/frontend/dist
/frontend/build
/frontend/logs
/frontend/logs/*.log
/frontend/logs/*.log.*
/frontend/logs/*.log.*.*
/frontend/logs/*.log.*.*.*
/frontend/logs/*.log.*.*.*.*
/frontend/logs/*.log.*.*.*.*.*